<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>home | learn online</title>
    {% endblock %} {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
  </head>
  <body class="bg-white text-gray-900">
    <div id="content" class="min-h-screen flex flex-col">
      <header class="px-6 py-6 border-b border-gray-50">
        <div
          class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4"
        >
          <div class="flex-shrink-0">
            <a href="{% url 'index' %}">
              <h1 class="text-2xl font-light tracking-tighter">
                easi/<span class="text-blue-600 font-semibold">learn</span>
              </h1>
            </a>
          </div>

          <nav
            class="flex items-center gap-8 text-[10px] font-bold uppercase tracking-[0.2em] text-gray-500"
          >
            <a
              href="{% url 'list_course' %}"
              class="text-gray-900 hover:text-blue-600 transition-colors"
            >
              Tous les cours
            </a>

            {% if user.is_authenticated %} {% if user.is_instructor %}
            <a
              href="{% url 'my_course' %}"
              class="hover:text-blue-600 transition-colors"
              >Mes créations</a
            >
            <a
              href="{% url 'create_course' %}"
              class="text-blue-600 hover:text-gray-900 transition-colors"
              >Publier</a
            >
            {% else %}
            <a
              href="{% url 'my_reservation' %}"
              class="hover:text-blue-600 transition-colors"
              >reservations</a
            >
            {% endif %}

            <div class="flex items-center gap-4 border-l pl-8 border-gray-100">
              <span
                style="font-size: 15px;"
                class="text-gray-400 font-light italic normal-case tracking-normal"
              >
                @{{ user.username }}
              </span>
              <form method="post" action="{% url 'logout' %}" class="inline">
                {% csrf_token %}
                <button
                  type="submit"
                  class="text-red-400 hover:text-red-600 transition-colors font-bold uppercase tracking-widest"
                >
                  Logout
                </button>
              </form>
            </div>

            {% else %}
            <div class="flex items-center gap-6">
              <a
                href="{% url 'login' %}"
                class="hover:text-blue-600 transition-colors"
                >Login</a
              >
              <a
                href="{% url 'register' %}"
                class="border border-gray-900 px-4 py-2 hover:bg-gray-900 hover:text-white transition-all"
              >
                S'inscrire
              </a>
            </div>
            {% endif %}
          </nav>
        </div>
      </header>

      <main class="flex-grow">{% block content %} {% endblock %}</main>

      <footer class="p-8 border-t border-gray-50 text-center">
        <div class="text-[10px] uppercase tracking-[0.3em] text-gray-400">
          e-learn | written with
          <a
            href="https://www.djangoproject.com/"
            target="_blank"
            class="text-gray-600 hover:text-green-600 transition-colors font-bold underline"
          >
            Django
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
